.formContainer {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: white 0px 7px 29px 0px;
  border-radius: 10px;
  padding: 20px;
}

.form {
  margin-bottom: 15px;
}

.title {
  margin: 10px 0;
}

.link {
  margin: 20px 0;
  color: white;
  font-size: 1.1rem;
  transition: all 200ms ease-in-out;
  text-decoration: none;
}

.link,
.link:visited {
  color: white;
}
.link:hover {
  text-decoration: underline;
  color: darkgreen;
}
