.imgContainer {
  height: 80vh;
  margin-top: 70px;
  background-repeat: no-repeat;
  background-position: 50% 75%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer {
  background-color: #232323;
  box-shadow: white 0px 7px 29px 0px;
  border-radius: 10px;
  padding: 20px;
}

.form {
  margin-bottom: 15px;
}

.title {
  font-size: 2.2rem;
  line-height: 48px;
  margin: 32px;
  font-weight: 400;
}

.link {
  margin: 20px 0;
  color: #e5f4e3;
  font-size: 1.1rem;
  transition: all 200ms ease-in-out;
  text-decoration: none;
}

.link:visited {
  color: #e5f4e3;
}

.link:hover,
.link:focus {
  text-decoration: underline;
  color: #2a9d8f;
}

.link:focus {
  border: none;
  outline: none;
}
