.carouselContainer {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.imgContainer {
  max-width: 600px;
  max-height: 500px;
  margin: 0 auto;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}

.imgBtn {
  width: 50px;
  height: 50px;
  padding: 30px;
  border-radius: 50%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 100ms ease-in-out;
  background-color: transparent;
  color: rgb(215, 215, 215);
  font-size: 1.5rem;
}

.imgBtn:hover {
  background-color: rgba(61, 61, 61, 1);
  color: rgb(255, 254, 255);
}

.selectedImg {
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
