.userLinks {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  flex: 1;
}

.linkContainer {
  list-style: none;
  min-width: 105px;
  text-align: left;
}
.linkContainer a {
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: #2a9d8f;
  transition: all 150ms ease-in-out;
}

.linkContainer a:hover {
  text-decoration: underline;
  font-weight: 600;
}

.linkContainer a:active,
.linkContainer .active {
  font-weight: 700;
  text-decoration: underline;
}
