.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  /* width: 100%; */
}

.li {
  list-style: none;
}
.link {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
}

.link:visited {
  color: white;
}

.link:hover {
  text-decoration: underline;
}

.link.active {
  color: rgb(136, 226, 220);
  text-decoration: underline;
}
