.submitBtn {
  margin-top: 10px;
  width: 100%;
  max-width: 250px;
  color: rgb(229, 244, 227);
  background-color: rgb(24, 58, 55);
  border: 1px solid rgb(229, 244, 227);
  border-radius: 5px;
  line-height: 2;
  font-size: 1rem;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.submitBtn:hover,
.submitBtn:active,
.submitBtn:focus {
  transform: scale(1.05);
  border: 2px solid rgb(229, 244, 227);
  outline: none;
}
