.actionContainer {
  position: relative;
  cursor: pointer;
  font-weight: 900;
}

.username {
  display: inline;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: #2a9d8f;
  cursor: pointer;
}

.username:hover {
  text-decoration: underline;
  font-weight: 600;
}

.username.active {
  font-weight: 700;
  text-decoration: underline;
}

.actionBtn {
  background-color: transparent;
  border: none;
  margin-left: 5px;
  font-size: 1rem;
  color: #2a9d8f;
  cursor: pointer;
}

.actionsDropdown {
  position: absolute;
  left: -20px;
  background-color: rgb(107, 106, 106);
  border-radius: 10px;
  text-align: left;
  padding: 10px;
  width: 130px;
}

.actionsDropdown button {
  display: block;
  width: 100%;
  text-align: left;
  background-color: transparent;
  border: none;
  line-height: 1.5;
  font-size: 1.01rem;
  border-radius: 5px;
  font-weight: 600;
  padding-left: 15px;
}

.actionsDropdown button:hover {
  background-color: rgb(38, 35, 35);
}
