.actionContainer {
  position: relative;
  cursor: pointer;
  font-weight: 900;
  min-width: 130px;
}

.username {
  display: inline;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: #2a9d8f;
  cursor: pointer;
}

.username:hover {
  text-decoration: underline;
  font-weight: 600;
}

.username.active {
  font-weight: 700;
  text-decoration: underline;
}

.dropdownBtn {
  background-color: transparent;
  border: none;
  margin-left: 10px;
  font-size: 1rem;
  color: #2a9d8f;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.dropdownBtn:hover,
.dropdownBtn:focus {
  transform: scale(2);
  outline: none;
}

.actionsDropdown {
  position: absolute;
  top: 35px;
  background-color: rgb(107, 106, 106);
  border-radius: 10px;
  text-align: left;
  padding: 10px 0;
  width: 130px;
  z-index: 1;
}

.actionForm .userActionBtn {
  display: block;
  width: 100%;
  text-align: left;
  background-color: transparent;
  color: #e5f4e3;
  border: none;
  line-height: 1.5;
  font-size: 1.01rem;
  font-weight: 600;
  padding-left: 15px;
  cursor: pointer;
  z-index: 1000;
}

.actionForm .userActionBtn:hover {
  background-color: rgb(38, 35, 35);
}
