.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  height: 80px;
  padding-top: 56px;
  margin-left: 56px;
  margin-right: 80px;
}

.leftContainer {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  flex: 1;
}

.logo {
  max-width: 72px;
}

.linkContainer {
  list-style: none;
  margin: 0 20px;
}
.linkContainer a {
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: #2a9d8f;
  transition: all 150ms ease-in-out;
}

.linkContainer a:hover {
  text-decoration: underline;
  font-weight: 600;
}

.linkContainer a:active,
.linkContainer .active {
  font-weight: 700;
  text-decoration: underline;
}

a:focus {
  outline: none;
  text-decoration: underline;
  font-weight: 700;
}

@media only screen and (max-width: 650px) {
  .navbar {
    display: none;
  }
}

@media only screen and (max-width: 350px) {
  .logo {
    display: none;
  }
}
