.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.li {
  list-style: none;
}
.link {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
}

.link:visited {
  color: white;
}

.link:hover {
  text-decoration: underline;
}
