.parkBody {
  position: relative;
  max-width: 200px;
  text-align: center;
  background: linear-gradient(
    180deg,
    #a18276 80.21%,
    rgba(161, 130, 118, 0) 100%
  );
  border: 1px solid #a18276;
  border-radius: 4px;
  box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
  margin: 10px 15px;
  padding: 0 5px;
  padding-top: 16px;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.parkBody:hover,
.parkBody:focus {
  background: linear-gradient(
    180deg,
    #a18276 84.37%,
    rgba(161, 130, 118, 0) 100%
  );

  box-shadow: 4px 6px 4px rgba(105, 101, 101, 0.25);
}

.parkBody:focus {
  outline: none;
}

.imgContainer {
  position: relative;
  height: 150px;
  overflow: hidden;
  border-radius: 4px;
  margin: 0 16px;
  transition: all 200ms ease-in-out;
}

.parkBody:hover .imgContainer {
  margin: 0;
}

img {
  width: 100%;
}

.parkImg {
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.parkName {
  max-width: 12ch;
  margin: 0 auto;
  margin-top: 22px;
  margin-bottom: 65px;
  color: #232323;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  transition: all 200ms ease-in-out;
}

.parkBody:hover .parkName {
  font-weight: 600;
}

.bookmarkContainer {
  position: absolute;
  top: 10px;
  right: 0px;
}

.actionBtn {
  background-color: transparent;
  outline: none;
  border: none;
  transition: all 100ms ease-in-out;
}

.iconContainer {
  font-size: 20px;
  transition: all 200ms ease-in-out;
}

.iconContainer i {
  cursor: pointer;
}

.outline {
  color: white;
  font-size: 25px;
}

.bookmark {
  color: #183a37;
}

.iconContainer:hover {
  transform: scale(1.5);
}

.bookmark:hover {
  color: rgba(24, 58, 55, 0.7);
}

.bookmark.next {
  color: #2a9d8f;
}

/* .visitedContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visitBtn {
  display: flex;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  line-height: 1.6;
  cursor: pointer;
  color: #e5f4e3;
  border: 1px solid #e5f4e3;
  border-radius: 4px;
  background-color: rgba(28, 28, 75, 1);
  transition: all 200ms ease-in-out;
}

.visitBtn:hover {
  transform: scale(1.1);
}

.visitBtn .visitIcon {
  width: fit-content;
} */

/* .btnContainer {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actionBtn {
  margin: 5px 0;
  max-width: 180px;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}

.actionBtn:hover,
.actionBtn:focus {
  transform: scale(1.1);
  outline: 1px solid white;
}

.actionBtn i {
  margin-right: 5px;
}

.nextBtn {
  color: rgb(229, 244, 227);
  background-color: rgba(24, 58, 55, 1);
}

.nextBtn.next {
  background-color: rgba(24, 58, 55, 0.4);
}

.visitedBtn {
  background-color: rgba(28, 28, 75, 1);
}

.visitedBtn.visited {
  background-color: rgba(28, 28, 75, 0.6);
} */
