.inputContainer {
  max-width: 250px;
  margin: 0 auto;
  text-align: left;
  margin-top: 32px;
}

.label {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.input {
  display: block;
  line-height: 2.5;
  width: 100%;
  margin-top: 10px;
  background: linear-gradient(
      0deg,
      rgba(229, 244, 227, 0.2),
      rgba(229, 244, 227, 0.2)
    ),
    #ffffff;
  border: 1px solid #a18276;
  border-radius: 8px;
  transition: all 200ms ease-in-out;
  color: #4a4a4a;
  padding-left: 10px;
}

.input:active,
.input:focus,
.input:hover {
  outline: none;
  border: 1px solid #a18276;
  transform: scale(1.1);
}
