.stateContainer {
  max-width: 1000px;
  margin: 0 auto;
}

svg {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.state > text {
  color: red;
}

.state {
  cursor: pointer;
}

.marker {
  color: red;
}
