*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;

  color: #e5f4e3;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

img {
  width: 100%;
}
