.parkContainer {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.backBtn {
  position: absolute;
  top: 50px;
  left: 80px;
  color: rgb(229, 244, 227);
  background-color: rgb(24, 58, 55);
  border: 1px solid rgb(229, 244, 227);
  border-radius: 5px;
  line-height: 1.5;
  padding: 0 10px;
  font-size: 1rem;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.backBtn:hover,
.backBtn:active,
.backBtn:focus {
  transform: scale(1.05);
  border: 2px solid rgb(229, 244, 227);
  outline: none;
}

.description {
  max-width: 600px;
  margin: 10px auto;
}
